<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Cycle Map</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
		<!--[if lte IE 8]>
		<link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
		<![endif]-->
		<link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
		<script type="text/javascript" src="/scripts/jquery-1.8.0.min.js"></script>
		<script type="text/javascript" src="/scripts/loader.js"></script>
	</head>

	<body class="">
		<div class="container">
			<div id="map"></div>
			<%- body %>
		</div>
		<div id="loaderWrapper"><div id="loader"></div></div>
		<script type="text/javascript">
		$(document).ready(function () {
			$('#loader').loader();
			$('#loader').hide();
		});
		</script>
		<script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>
		<script type="text/javascript" src="/scripts/map.js"></script>
	</body>
</html>
