body, html {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	font-size: 14px;
}


#map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*#loader {
	position: absolute;
	top: 200px;
	left: 200px;
	width: 50px;
	height: 50px;
}*/

div#loader-wrapper {
	height: 0px; /* set to taste */
	/* required */
	position: absolute;
	overflow: visible;
	display: block;
	width: 100%;
	left: 0px;
	top: 50%;
}

div#loader {
	overflow: hidden; /* set to taste */
	position: absolute; /* required */
	left: 50%; /* required */
	margin-left: -25px; /* half of width */
	width: 50px; /* width of div */
	height: 50px; /* height of div */
	top: -25px; /* half of height */
}

div#stage-overlay {
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -300px;
	z-index: 200;
	width: 600px;
	height: 100px;
}

div#stage-overlay-bg {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%
	height: 100%;
	background-color: #0A0B12;
	border: 1px solid #0B0719;
	border-radius: 3px;
	opacity: 0.8;
	box-shadow: 0px 10px 10px #253F4C;
}

div#stage-overlay-content {
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	width: 100%
	height: 100%;
	color: #fff;
}

div#zoomlevel-overlay-content p,
div#stage-overlay-content p {
	margin: 0;
	padding: 0;
	height: 1.5em;
	line-height: 1.5em;
}

div#stage-overlay p.stage {
	color: #D5FF00;
	text-transform: uppercase;
	font-weight: bold;
}

div#stage-overlay p.time {
	position: absolute;
	right: 0;
	top: 0;
	color: #D5FF00;
}

div#stage-overlay p.time .label,
div#stage-overlay p.avgspeed .label,
div#stage-overlay p.from .label,
div#stage-overlay p.to .label {
	display: none;
}

div#stage-overlay p.from,
div#stage-overlay p.distance {
	float: left;
	clear: left;
}

div#stage-overlay p.from span.from:after {
	content: "»";
	font-size: 16px;
	display: inline-block;
	padding: 0 10px 0 10px;
}

div#stage-overlay p.distance span.label:after {
	content: ":";
}

div#stage-overlay p.distance span.distance:after {
	content: "at";
	display: inline-block;
	padding: 0 0.5em 0 0.5em;
}

div#zoomlevel-overlay {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 200;
	border-radius: 7px 7px 7px 7px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
	padding: 5px;
}

div#zoomlevel-overlay-content {
	color: #000;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 4px 4px 4px 4px;
	padding: 5px;
}

/*div#stage-overlay p.avgspeed span.avgspeed:after {
	content: " (avg. speed) ";
}*/

.photo-marker {
	height: 20px;
	width: 30px;
	border-radius: 5px;
	background-color: #FF0033;
	background-color: rgba(20, 0, 0, 0.8);
}

.photo-marker .lens {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	border: 2px solid rgba(255, 255, 255, 0.95);
}

.photo-marker .trigger {
	position: absolute;
	left: 5px;
	top: -2px;
	width: 7px;
	height: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	background-color: #FF0033;
	background-color: rgba(20, 0, 0, 0.8);
}
